<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Base</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<h1>U.S. Bureau of Labor Statistics Data Downloader</h1>
<body>
  <div class="container">
    {% block body_block %}
    <form method="POST">
        {% csrf_token %}
        <h4>Please provide your API key</h4>
        <h4>You can get your API key by registrating in "https://data.bls.gov/registrationEngine/" for free</h4>
        {{form.api_key}}
        <input type="submit" class='btn btn-primary' value="Submit">
    </form>
    {% endblock %}
  </div>
</body>
</html>