<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django Level Two</title>
</head>
<body>
    <h1>CPI Item Code Description</h1>

    <div class="djangotwo">

        {% if cpi_item_table %}

            <table>
                 <thead>
                    <th>Item Code</th>
                    <th>Item Name</th>
                    <th>Display Level</th>
                    <th>Selectable</th>
                    <th>Sort Sequence</th>
                 </thead>


            {% for data in cpi_item_table %}
            <tr>
                <td>{{ data.item_code }}</td>
                <td>{{ data.item_name }}</td>
                <td>{{ data.display_level }}</td>
                <td>{{ data.selectable }}</td>
                <td>{{ data.sort_sequence }}</td>
            </tr>
            {% endfor %}
            </table>
            {% else %}
                <p> No CPI Item Code Description Found </p>
            {% endif %}
    </div>

</body>
</html>